In [2]:
import pandas as pd
import json
import numpy as np
from matplotlib import pyplot as plt

In [3]:
with open(f"train_traffic_sign_dataset.json", "r") as fin:
    data = json.load(fin)

labels = []
bboxes = []
images_id = []
height = 626
width = 1622
for i in range(len(data['annotations'])):
    labels.append(data['annotations'][i]['category_id'])
    bboxes.append(data['annotations'][i]['bbox'])
    images_id.append(data['annotations'][i]['image_id'])

train_df = pd.DataFrame()
train_df['labels'] = labels
train_df['bbox'] = bboxes
train_df['image_id'] = images_id

train_df['x'] = -1
train_df['y'] = -1
train_df['w'] = -1
train_df['h'] = -1

def expand_bbox(x):
    r = np.array(re.findall("([0-9]+[.]?[0-9]*)", x))
    if len(r) == 0:
        r = [-1, -1, -1, -1]
    return r

train_df[['x', 'y', 'w', 'h']] = np.stack(train_df['bbox'])
train_df.drop(columns=['bbox'], inplace=True)
train_df['x'] = train_df['x'].astype(np.float)
train_df['y'] = train_df['y'].astype(np.float)
train_df['w'] = train_df['w'].astype(np.float)
train_df['h'] = train_df['h'].astype(np.float)

print(train_df)

       labels  image_id       x      y      w      h
0           2         3   880.0  333.0   19.0   18.0
1           3         5  1069.0  355.0   83.0   83.0
2           2         5   768.0  480.0    9.0    7.0
3           6         6   781.0  337.0   17.0   15.0
4           2        16   733.0  352.0    7.0    8.0
...       ...       ...     ...    ...    ...    ...
10995       7     12519   902.0  290.0  273.0  100.0
10996       2     12521  1338.0  173.0   48.0   41.0
10997       2     12523   800.0  256.0   20.0   21.0
10998       6     12523   800.0  281.0   21.0   16.0
10999       4     12523   969.0  335.0   15.0   16.0

[11000 rows x 6 columns]

In [4]:
train_df['x_center'] = (train_df['x'] + train_df['w']*0.5)/width
train_df['y_center'] = (train_df['y'] + train_df['h']*0.5)/height
train_df['n_height'] = train_df['h']/height
train_df['n_width'] = train_df['w']/width
train_df.head()

,labels,image_id,x,y,w,h,x_center,y_center,n_height,n_width
0,2,3,880.0,333.0,19.0,18.0,0.548397,0.546326,0.028754,0.011714
1,3,5,1069.0,355.0,83.0,83.0,0.684649,0.633387,0.132588,0.051171
2,2,5,768.0,480.0,9.0,7.0,0.476264,0.772364,0.011182,0.005549
3,6,6,781.0,337.0,17.0,15.0,0.486745,0.550319,0.023962,0.010481
4,2,16,733.0,352.0,7.0,8.0,0.454069,0.568690,0.012780,0.004316

In [7]:
train_df_drop = train_df.drop(columns = ['image_id', 'x', 'y', 'w', 'h'])

array([2.        , 0.54839704, 0.54632588, 0.02875399, 0.01171393])

In [37]:
for i in range(len(train_df['image_id'])):
  DIR = "txt/" + str(train_df['image_id'][i]) + ".txt"
  A = train_df_drop.loc[i].values
  B = np.reshape(A,(-1,5))  
  np.savetxt(DIR, B, fmt=' '.join(['%i']*1 + ['%1.6f']*4), newline=" ")

In [34]:
A = np.array([[1,2,3,4,5,6],
             [3,4,5,6,7,8]])
A.shape

(2, 6)